{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}{% if form.instance.pk %}Edit Project{% else %}Create Project{% endif %} - MyPortfolio{% endblock title %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">{% if form.instance.pk %}Edit Project{% else %}Create Project{% endif %}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="mb-3">
                {{ field.label_tag }}
                {% if field.name == 'image' %}
                    {% render_field field class="form-control-file" %}
                {% else %}
                    {% render_field field class="form-control" %}
                {% endif %}
                {% for error in field.errors %}
                    <small class="text-danger">{{ error }}</small>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">{% if form.instance.pk %}Update{% else %}Create{% endif %} Project</button>
    </form>
</div>
{% endblock content %}